@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9ba8ab;
}

.caixa-maior{
    background: #4a5c6a;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-cidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #253745;
    color: #fff;
    width: calc(100% - 90px);
}

.botao-busca{
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 50px;
    background-color: #253745;
    cursor: pointer;
    float: right;
}

.img-busca{
    width: 20px;
}

.caixa-media{
    margin-top: 30px;
}

.cidade{
    color: #fff;
    font-size: 28px;
    font-weight: 300;
}

.temp{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.caixa-menor{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.txt-previsao{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade{
    color: #fff;
    margin-top: 20px;
}